.bigaceIconLocaleAa { background: url(../languages/aa.gif); }
.bigaceIconLocaleAf { background: url(../languages/af.gif); }
.bigaceIconLocaleAk { background: url(../languages/ak.gif); }
.bigaceIconLocaleAm { background: url(../languages/am.gif); }
.bigaceIconLocaleAr { background: url(../languages/ar.gif); }
.bigaceIconLocaleAs { background: url(../languages/as.gif); }
.bigaceIconLocaleAz { background: url(../languages/az.gif); }
.bigaceIconLocaleBe { background: url(../languages/be.gif); }
.bigaceIconLocaleBg { background: url(../languages/bg.gif); }
.bigaceIconLocaleBn { background: url(../languages/bn.gif); }
.bigaceIconLocaleBo { background: url(../languages/bo.gif); }
.bigaceIconLocaleBs { background: url(../languages/bs.gif); }
.bigaceIconLocaleCa { background: url(../languages/ca.gif); }
.bigaceIconLocaleCs { background: url(../languages/cs.gif); }
.bigaceIconLocaleCy { background: url(../languages/cy.gif); }
.bigaceIconLocaleDa { background: url(../languages/da.gif); }
.bigaceIconLocaleDe { background: url(../languages/de.gif); }
.bigaceIconLocaleDv { background: url(../languages/dv.gif); }
.bigaceIconLocaleDz { background: url(../languages/dz.gif); }
.bigaceIconLocaleEe { background: url(../languages/ee.gif); }
.bigaceIconLocaleEl { background: url(../languages/el.gif); }
.bigaceIconLocaleEn { background: url(../languages/en.gif); }
.bigaceIconLocaleEo { background: url(../languages/eo.gif); }
.bigaceIconLocaleEs { background: url(../languages/es.gif); }
.bigaceIconLocaleEt { background: url(../languages/et.gif); }
.bigaceIconLocaleEu { background: url(../languages/eu.gif); }
.bigaceIconLocaleFa { background: url(../languages/fa.gif); }
.bigaceIconLocaleFi { background: url(../languages/fi.gif); }
.bigaceIconLocaleFo { background: url(../languages/fo.gif); }
.bigaceIconLocaleFr { background: url(../languages/fr.gif); }
.bigaceIconLocaleGa { background: url(../languages/ga.gif); }
.bigaceIconLocaleGl { background: url(../languages/gl.gif); }
.bigaceIconLocaleGu { background: url(../languages/gu.gif); }
.bigaceIconLocaleGv { background: url(../languages/gv.gif); }
.bigaceIconLocaleHa { background: url(../languages/ha.gif); }
.bigaceIconLocaleHe { background: url(../languages/he.gif); }
.bigaceIconLocaleHi { background: url(../languages/hi.gif); }
.bigaceIconLocaleHr { background: url(../languages/hr.gif); }
.bigaceIconLocaleHu { background: url(../languages/hu.gif); }
.bigaceIconLocaleHy { background: url(../languages/hy.gif); }
.bigaceIconLocaleIa { background: url(../languages/ia.gif); }
.bigaceIconLocaleId { background: url(../languages/id.gif); }
.bigaceIconLocaleIg { background: url(../languages/ig.gif); }
.bigaceIconLocaleIi { background: url(../languages/ii.gif); }
.bigaceIconLocaleIn { background: url(../languages/in.gif); }
.bigaceIconLocaleIs { background: url(../languages/is.gif); }
.bigaceIconLocaleIt { background: url(../languages/it.gif); }
.bigaceIconLocaleIu { background: url(../languages/iu.gif); }
.bigaceIconLocaleIw { background: url(../languages/iw.gif); }
.bigaceIconLocaleJa { background: url(../languages/ja.gif); }
.bigaceIconLocaleKa { background: url(../languages/ka.gif); }
.bigaceIconLocaleKk { background: url(../languages/kk.gif); }
.bigaceIconLocaleKl { background: url(../languages/kl.gif); }
.bigaceIconLocaleKm { background: url(../languages/km.gif); }
.bigaceIconLocaleKn { background: url(../languages/kn.gif); }
.bigaceIconLocaleKo { background: url(../languages/ko.gif); }
.bigaceIconLocaleKu { background: url(../languages/ku.gif); }
.bigaceIconLocaleKw { background: url(../languages/kw.gif); }
.bigaceIconLocaleKy { background: url(../languages/ky.gif); }
.bigaceIconLocaleLn { background: url(../languages/ln.gif); }
.bigaceIconLocaleLo { background: url(../languages/lo.gif); }
.bigaceIconLocaleLt { background: url(../languages/lt.gif); }
.bigaceIconLocaleLv { background: url(../languages/lv.gif); }
.bigaceIconLocaleMk { background: url(../languages/mk.gif); }
.bigaceIconLocaleMl { background: url(../languages/ml.gif); }
.bigaceIconLocaleMn { background: url(../languages/mn.gif); }
.bigaceIconLocaleMo { background: url(../languages/mo.gif); }
.bigaceIconLocaleMr { background: url(../languages/mr.gif); }
.bigaceIconLocaleMs { background: url(../languages/ms.gif); }
.bigaceIconLocaleMt { background: url(../languages/mt.gif); }
.bigaceIconLocaleMy { background: url(../languages/my.gif); }
.bigaceIconLocaleNb { background: url(../languages/nb.gif); }
.bigaceIconLocaleNe { background: url(../languages/ne.gif); }
.bigaceIconLocaleNl { background: url(../languages/nl.gif); }
.bigaceIconLocaleNn { background: url(../languages/nn.gif); }
.bigaceIconLocaleNo { background: url(../languages/no.gif); }
.bigaceIconLocaleNr { background: url(../languages/nr.gif); }
.bigaceIconLocaleNy { background: url(../languages/ny.gif); }
.bigaceIconLocaleOc { background: url(../languages/oc.gif); }
.bigaceIconLocaleOm { background: url(../languages/om.gif); }
.bigaceIconLocaleOr { background: url(../languages/or.gif); }
.bigaceIconLocalePa { background: url(../languages/pa.gif); }
.bigaceIconLocalePl { background: url(../languages/pl.gif); }
.bigaceIconLocalePs { background: url(../languages/ps.gif); }
.bigaceIconLocalePt { background: url(../languages/pt.gif); }
.bigaceIconLocaleRo { background: url(../languages/ro.gif); }
.bigaceIconLocaleRu { background: url(../languages/ru.gif); }
.bigaceIconLocaleRw { background: url(../languages/rw.gif); }
.bigaceIconLocaleSa { background: url(../languages/sa.gif); }
.bigaceIconLocaleSe { background: url(../languages/se.gif); }
.bigaceIconLocaleSh { background: url(../languages/sh.gif); }
.bigaceIconLocaleSi { background: url(../languages/si.gif); }
.bigaceIconLocaleSk { background: url(../languages/sk.gif); }
.bigaceIconLocaleSl { background: url(../languages/sl.gif); }
.bigaceIconLocaleSo { background: url(../languages/so.gif); }
.bigaceIconLocaleSq { background: url(../languages/sq.gif); }
.bigaceIconLocaleSr { background: url(../languages/sr.gif); }
.bigaceIconLocaleSs { background: url(../languages/ss.gif); }
.bigaceIconLocaleSt { background: url(../languages/st.gif); }
.bigaceIconLocaleSv { background: url(../languages/sv.gif); }
.bigaceIconLocaleSw { background: url(../languages/sw.gif); }
.bigaceIconLocaleTa { background: url(../languages/ta.gif); }
.bigaceIconLocaleTe { background: url(../languages/te.gif); }
.bigaceIconLocaleTg { background: url(../languages/tg.gif); }
.bigaceIconLocaleTh { background: url(../languages/th.gif); }
.bigaceIconLocaleTi { background: url(../languages/ti.gif); }
.bigaceIconLocaleTl { background: url(../languages/tl.gif); }
.bigaceIconLocaleTn { background: url(../languages/tn.gif); }
.bigaceIconLocaleTo { background: url(../languages/to.gif); }
.bigaceIconLocaleTr { background: url(../languages/tr.gif); }
.bigaceIconLocaleTs { background: url(../languages/ts.gif); }
.bigaceIconLocaleTt { background: url(../languages/tt.gif); }
.bigaceIconLocaleUg { background: url(../languages/ug.gif); }
.bigaceIconLocaleUk { background: url(../languages/uk.gif); }
.bigaceIconLocaleUr { background: url(../languages/ur.gif); }
.bigaceIconLocaleUz { background: url(../languages/uz.gif); }
.bigaceIconLocaleVe { background: url(../languages/ve.gif); }
.bigaceIconLocaleVi { background: url(../languages/vi.gif); }
.bigaceIconLocaleWo { background: url(../languages/wo.gif); }
.bigaceIconLocaleXh { background: url(../languages/xh.gif); }
.bigaceIconLocaleYo { background: url(../languages/yo.gif); }
.bigaceIconLocaleZh { background: url(../languages/zh.gif); }
.bigaceIconLocaleZu { background: url(../languages/zu.gif); }

